body {
    background-image: url("../images/pizza_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: green;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
    font-family: "Montserrat", Gadget, sans-serif;
    color: red;
    text-align: center;
}

h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: darkgreen;
}

div {
    font-family: "Montserrat", Geneva, sans-serif;
    color: #FFF0F5;
}

input[type="number"] {
    width: 30px;
}

#menuBG {
    width: 600px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    overflow: hidden;
}

.column {
    width: 30%;
    padding: 10px;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.column-left {
    text-align: left;
}

.column-center {
    text-align: center;
}

.column-right {
    text-align: right;
}

#btnOrder {
    font-weight: bold;
    font-size: medium;
    font-family: Open-Sans;
    margin: 10px auto;
    width: 120px;
    height: 40px;
    display: block;
}

#cart {
    text-align: center;
    margin-top: 20px;
}

#showText {
    color: darkgreen;
    font-weight: bold;
}

#totalPrice {
    color: darkgreen;
}


