body    {
    background-image: url("../images/pizza_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: green;
    margin-top: 100px;
    margin-bottom: 100px;
    }

h1 {
    font-family: "Montserrat", Gadget, sans-serif;
    color: red ;
    text-align: center;
    }

h3  {
     font-family: "Trebuchet MS", Helvetica, sans-serif	;
     color: darkgreen;
     
    }

div {
     font-family: "Montserrat", Geneva, sans-serif;
     color: #FFF0F5;
}

label {
    padding-left: 150px;
}



#menuBG     {
    width: 600px;
    height: 470px;
    margin: 10px auto;
    }

#frmMenu    {
    width: 200px;
    height: 200px;
    }

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
    color:darkgreen;
    }

.left   {
    width: 200px;
    height: 200px;
    float: left;
    }

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right  {
    width: 200px;
    height: 200px;
    float: right;
    }

#showText   {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
    color: darkgreen;
    font-weight: bold;
    }

#cart   {
    top: 0; margin: 0px auto;
    width: 400px;
    height: 200px;
    }

#btnOrder   {
    font-weight: bold;
    font-size: medium;
    font-family: Open-Sans;
    margin: 10px 0px 0px 100px;
    width: 120px;
    height: 40px;
    margin-left: 200px;
    margin-top: 4em;
    display: block;
    }

