body    {
    background-image: url("https://imgur.com/qtcYfkQ");
    
    }

h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    color: red ;
    text-align: center;
    }

h3  {
     font-family: "Trebuchet MS", Helvetica, sans-serif	;
     color: #E6E6FA;
     
    }

div {
     font-family: Verdana, Geneva, sans-serif;
     color: #FFF0F5;
}



#menuBG     {
    width: 600px;
    height: 470px;
    margin: 10px auto;
    }

#frmMenu    {
    width: 200px;
    height: 200px;
    }

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
    }

.left   {
    width: 200px;
    height: 200px;
    float: left;
    }

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right  {
    width: 200px;
    height: 200px;
    float: right;
    }

#showText   {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
    }

#cart   {
    top: 0; margin: 0px auto;
    width: 400px;
    height: 200px;
    }

#btnOrder   {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    margin: 25px auto;
    display: block;
    }
